@font-face {
  font-family: 'Alexandria';
  src: url('../fonts/Alexandria-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
body {
  font-family: 'Alexandria', sans-serif;
  color: #155be8;
  background-color: #fefefe;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.layout_margin-top {
  margin-top: 90px;
}

.layout_margin-bottom {
  margin-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading_container h2 {
  position:relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: -100px;
}

.heading_container.heading_centery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom right;
     object-position: bottom right;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(#155be8, #1ae2d7);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 40px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-brand span img {
  max-height: 20%;
  width: 20%;
  display: inline-block;
  margin-top: -5px;
  margin-left: 10px;
}
.custom_nav-container .navbar-brand span span {
  font-weight: bold;
  display: inline-block;
  padding: 0px;
  color: #ffffff;
  text-align: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: medium;
  margin-top: 10px;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  font-weight: bold;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: medium;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #155be8, #1ae2d7, #ffffff) 1;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 15px;
  height: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 10px;
  bottom: 10px;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  margin: 20px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 0px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/

.about_section{
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.about_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_section .img-box img {
  width: 100%;
  border-radius: 100px;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
  margin-bottom: 0;
}

.about_section .detail-box a {
  display: block;
  width: fit-content; 
  margin: 10px auto; 
  padding: 10px 45px;
  background-color: #1ae2d7;
  color: #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
}


.about_section .detail-box a:hover {
  background-color: #17a1e5;
  color: #ffffff;
}

.product_section {
  background: #1ae2d7;
}

.product_section .heading_container {
  color: #ffffff;
}

.product_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-top: 45px;
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 1s ease forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
@keyframes slideDown {
   from { 
    opacity: 0;
    transform: translateY(-50px);
   } 
   to { 
    opacity: 1;
    transform: translateY(0); 
  }
  }
  .product_section .box:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.416);
  }

.product_section .box .img-box {
  width: 100%;
}

.product_section .box .img-box img {
  width: 100%;
  height: fit-content;
}

.product_section .box .detail-box {
  width: 100%;
  padding: 25px 15px;
  text-align: center;
  position: relative;
  color: #155be8;
}

.product_section .box .detail-box .social_box {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 150%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .detail-box .social_box a {
  color: #155be8;
  margin: 0 10px;
}

.product_section .box .detail-box .social_box a:hover {
  color: #17a1e5;
  background-color: #ffffff;
}

.product_section .box:hover .social_box {
  top: 0;
  opacity: 1;
}

.product_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #155be8;
  color: #ffffff;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_section .btn-box a:hover {
  background-color: #ffffff;
  color: #17a1e5;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
  font-family: 'Alexandria';
}

.contact_section .form_container form {
  max-width: 400px;
  margin: auto;
  font-family: 'Alexandria';
}

.contact_section .form_container input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  background-color: white;
  border: 1px solid #155be8;
  outline: none;
  color: #101010;
  font-family: 'Alexandria';
}


.contact_section .form_container textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  background-color: white;
  border: 1px solid #155be8;
  outline: none;
  color: #101010;
  font-family: 'Alexandria';
}

.contact_section .form_container label {
  display:block;
  text-align:right; 
  color:#155be8; 
  font-weight:bold;
  font-family: 'Alexandria';
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #155be8;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #155be8;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #155be8;
}

.contact_section .form_container input::placeholder {
  color: #155be8;
}

.contact_section .form_container input.message-box {
  height: auto;
  font-family: 'Alexandria';
}

.contact_section .form_container button {
  background: #155be8;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  font-family: 'Alexandria';
}

.contact_section .map_container {
  height: 368px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45px;
  border-radius: 15px;
}

.client_section .box .img-box {
  margin-bottom: 15px;
  min-width: 145px;
  max-width: 145px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: fit-content;
  border-radius: 100%;
  border: 7px solid rgba(255, 255, 255, 0.45);
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client_section .box .detail-box .name img {
  width: 50px;
  margin-bottom: 20px;
}

.client_section .box .detail-box .name h6 {
  color: #1ae2d7;
  font-size: 24px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #1ae2d7;
  background-position: center;
  border-radius: 5px;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #17a1e5;
}

.client_section .carousel-control-next {
  left: initial;
}

.footer_section {
  background: linear-gradient(#1ae2d7, #155be8);
  color: #ffffff;
  padding: 60px 0 15px 0;
  position: relative;
}

.footer_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer_section .footer_col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a img {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #155be8;
}

.footer_section .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer_section .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.footer_section .footer_social a:hover {
  color: #155be8;
}

.footer_section .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_section .footer_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer_section .footer_links a:hover {
  color: #155be8;
}

.footer_section .footer_time  {
  text-align: center;
  direction: rtl;
}

.footer_section .footer-info {
  text-align: center;
}

.footer_section .footer-info p {
  color: #ffffff;
  padding: 25px 0;
  margin: 0;
}

.footer_section .footer-info p a {
  color: inherit;
}